.expiryDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.expiryDate--expired {
    color: red;
    font-weight: 500;
}

.expiryDate--soon {
    color: orange;
    font-weight: 500;
}

.expiryDate--good {
    color: black;
}

.expiryDate__icon {
    margin-right: 10px;
}

.expiryDate__value {

}