.product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

.product-list-item {
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-shadow: rgb(33 33 52 / 10%) 0px 1px 4px;
    height: fit-content;
}

.product-list-item__top {
    padding: 10px;
}

.product-list-item__top__image {
    height: 70px;
    min-width: 70px;
    width: 70px;
    border-radius: 10%;
}

.product-list-item__top__description {
    padding-left: 10px;
    & > * {
        margin: 0;
    }

    h5 {
        font-size: 16px;
    }
}
.product-list-item__middle {
    display: flex;
    border-top: 1px solid lightgrey;
    padding: 10px;
}

.product-list-item__bottom {
    border-top: 1px solid lightgrey;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
        flex: 1 0 auto !important;

        &:first-child {
            border-left: 1px solid lightgrey;
        }
    }
}

.product-list-item__top__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.product-list-item__top__actions {
    display: flex;
    align-self: end;
    column-gap: 10px;
}