.form-add-product__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  & > * {
    flex: 2 1 auto;

    &:first-child {
      margin-right: 10px !important;
    }
  }
}