.form-add-product__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  & > * {
    flex: 2 1 auto;

    &:first-child {
      margin-right: 10px !important;
    }
  }
}

.form-add-product__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    flex: 0 0 auto !important;
    width: 33%  !important;
  }
}


.button {
  display: block !important;
  height: 40px;
  margin-top: 8px !important;
  color: #e1f5fe !important;
}